body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #10100e;
  background-image: url("../static/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
}
img{
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


